body {
    font-family: Inter, sans-serif;
    margin: 5px;
    background-color: #fff;
    color: #002840;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.card-container {
    max-width: 100%;
    display: flex;
    gap: 20px;
    max-height: 60vh;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.storage-card {
    position: relative;
    flex-grow: 2;
    overflow: auto; /* Enable scrolling */
}

.storage-card th, .storage-card td {
    border-width: 1px 0 1px 0;
}

.customer-details {
    margin-bottom: 20px;
}

.tab-container {
    margin-bottom: 20px;
}

.tab, button {
    color: #002840;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 5px;
    border-radius: 5px;
    background-color: rgb(255, 213, 0);
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    border: none;
}

button {
    justify-content: center;
    align-items: center;
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

button.anonymise {
    background-color: rgb(255, 102, 102); /* Light red background */
}

.tab.active {
    background-color: rgb(215, 178, 1); /* Different background color for selected tab */
}

.table-container {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 60vh;
    width: 100%;
    display: none;
}

#event-mapping {
    width: 500px;
    height: 200px;
    margin: 5px;
    display: block;
}

label, h2, input {
    display: block;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    font-size: 0.9rem;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

th {
    font-weight: 400;
    color: #8695b2;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.results-card {
    margin-top: 20px;
    position: relative;
    flex-grow: 2;
}

.results-content {
    transition: filter 0.3s;
}

.logo-container {
    background-color: #002840;
}

.logo {
    align-content: center;
    height: 2.5rem; /* Adjust the size as needed */
    margin: 5px;
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.results-header {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
